<article class="portfolio" data-page="portfolio">
  <header>
    <h2 class="h2 article-title">Portfolio</h2>
  </header>

  <section class="projects">
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
      </li>
      
      <li class="filter-item">
        <button data-filter-btn>Web development</button>
      </li>
      
      <li class="filter-item">
        <button data-filter-btn>Web design</button>
      </li>

      <li class="filter-item">
        <button data-filter-btn>Applications</button>
      </li>

    </ul>

    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>

        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>

      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>All</button>
        </li>

        <li class="select-item">
          <button data-select-item>Web design</button>
        </li>

        <li class="select-item">
          <button data-select-item>Applications</button>
        </li>

        <li class="select-item">
          <button data-select-item>Web development</button>
        </li>
      </ul>
    </div>

    <ul class="project-list">
      
      <!-- <li
        class="project-item active"
        data-filter-item
        data-category="web design"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>

            <img
              src="./assets/images/project-3.jpg"
              alt="fundo"
              loading="lazy"
            />
          </figure>

          <h3 class="project-title">Fundo</h3>

          <p class="project-category">Web design</p>
        </a>
      </li>

      <li
        class="project-item active"
        data-filter-item
        data-category="applications"
      >
        <a href="#">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>

            <img
              src="./assets/images/project-4.png"
              alt="brawlhalla"
              loading="lazy"
            />
          </figure>

          <h3 class="project-title">Brawlhalla</h3>

          <p class="project-category">Applications</p>
        </a>
      </li> -->
    
      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="https://techomfest-master-jbxfwm.laravel.cloud" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>

            <img
              src="./assets/images/techomfest.png"
              alt="arrival"
              loading="lazy"
            />
          </figure>

          <h3 class="project-title">Techomfest</h3>

          <p class="project-category">Web development</p>
        </a>
      </li>

      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="https://pemira2023-master-snoxs0.laravel.cloud" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>

            <img
              src="./assets/images/Pemira.png"
              alt="arrival"
              loading="lazy"
            />
          </figure>

          <h3 class="project-title">Pemira</h3>

          <p class="project-category">Web development</p>
        </a>
      </li>

      <li
        class="project-item active"
        data-filter-item
        data-category="web development"
      >
        <a href="https://word-wise-main-nd8dqu.laravel.cloud" target="_blank">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>

            <img
              src="./assets/images/Wordwise.png"
              alt="arrival"
              loading="lazy"
            />
          </figure>

          <h3 class="project-title">WordWise</h3>

          <p class="project-category">Web development</p>
        </a>
      </li>

    </ul>
  </section>
</article>
