<article class="resume" data-page="resume">
  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">SDN Cangkiran 01 Semarang</h4>

        <span>2008 — 2014</span>

        <p class="" style="margin-top: 5px;">
          <a href="/assets/Ijazah/Ijazah SD.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SD</a>
          <a href="/assets/Ijazah/Ijazah SD Belakang.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SD (Belakang)</a>
          <a href="/assets/Ijazah/UN SD.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ujian Nasional SD</a>
        </p>
      </li>
      

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">SMP Muhammadiyah 08 Semarang</h4>

        <span>2014 — 2017</span>

        <p class="" style="margin-top: 5px;">
          <a href="/assets/Ijazah/Ijazah SMP.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SMP</a>
          <a href="/assets/Ijazah/Ijazah SMP Belakang.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SMP (Belakang)</a>
          <a href="/assets/Ijazah/UN SMP.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ujian Nasional SMP</a>
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">SMK Palapa Semarang - Rekayasa Perangkat Lunak</h4>

        <span>2017 — 2020</span>

        <p class="" style="margin-top: 5px;">
          <a href="/assets/Ijazah/ijazah smk.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SMK</a>
          <a href="/assets/Ijazah/Ijazah SMK Bekalang.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah SMK (Belakang)</a>
          <a href="/assets/Ijazah/Transkrip Nilai SMK.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Transkrip Nilai SMK</a>
        </p>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Politeknik Negeri Semarang - D IV Teknologi Rekayasa Komputer</h4>
  
        <span>2020 — 2024</span>
  
        <p class="" style="margin-top: 5px;">
          <a href="/assets/Ijazah/Ijazah Kuliah.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Ijazah Kuliah</a>
          <a href="/assets/Ijazah/KHS Kuliah.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Transkrip Nilai Kuliah</a>
        </p>
      </li>

    </ol>
  </section>

  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Internship Seven Media Technology - web designer</h4>

        <span>January 2019 - April 2019</span>

        <p class="timeline-text">
          Running an internship program from school, in this internship I learned about web design, introduction to CI3
        </p>
          <a href="/assets/Sertifikat/magang smt depan.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Certificate From Company</a>
          <a href="/assets/Sertifikat/magang smt belakang.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Certificate From Company (Back Page)</a>
          <a href="/assets/Sertifikat/magang smk depan.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Certificate From School</a>
          <a href="/assets/Sertifikat/magang smk belakang.jpg" class="timeline-btn" target="_blank" rel="noopener noreferrer">Certificate From School (Back Page)</a>
      </li>

      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Freelance Web Developer</h4>

        <span>2020 — Current</span>

        <p class="timeline-text">
          Idk , I just do some part-time work providing website creation services
        </p>
      </li>

      <!-- <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Web designer</h4>

        <span>2010 — 2013</span>

        <p class="timeline-text">
          Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit
          atque corrupti, quos dolores et quas molestias exceptur.
        </p>
      </li> -->
    </ol>
  </section>

  <hr>
  <section class="skill">
    <h3 class="h3 skills-title">My skills</h3>

    <ul class="skills-list content-card">
      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Front End</h5>
          <data value="50">50%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%"></div>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Back End</h5>
          <data value="80">80%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 80%"></div>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Python</h5>
          <data value="40">40%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 40%"></div>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">C#</h5>
          <data value="80">80%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 80%"></div>
        </div>
      </li>

      <li class="skills-item">
        <div class="title-wrapper">
          <h5 class="h5">Kotlin</h5>
          <data value="20">20%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 20%"></div>
        </div>
      </li>
    </ul>
  </section>
  <br>
  <hr>
  <section class="skill">
    <h3 class="h3 skills-title">My Certificates</h3>
      <section class="blog-posts">
        <ul class="blog-posts-list">
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/pelatihan android dasar.jpg" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img 
                  src="/assets/Sertifikat/pelatihan android dasar.jpg" 
                  alt="Pelatihan Android Dasar" 
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Android</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2017-10-28">Oct 28, 2017</time>
                </div>
    
                <h3 class="h3 blog-item-title">Basic Android Training</h3>
    
                <p class="blog-text">
                  Learn about how to make an Android application (using Android Studio & Kotlin)
                </p>
              </div>
            </a>
          </li>
    
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/lomba young islami.jpg" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img 
                  src="/assets/Sertifikat/lomba young islami.jpg" 
                  alt="Lomba Young Islami" 
                  loading="lazy" 
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Competition</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2019-09-14">Sept 14, 2019</time>
                </div>
    
                <h3 class="h3 blog-item-title">Young Muslim Creativity Application Competition</h3>
    
                <p class="blog-text">
                  An Islamic-themed application creation competition , Sadly I didn't win this competition sigh.
                </p>
              </div>
            </a>
          </li>
    
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Database Design Pelajaran.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img 
                  src="/assets/Sertifikat/Database Design Pelajaran_page-0001.jpg" 
                  alt="Database Design Pelajaran" 
                  loading="lazy" 
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Database</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2021-06-08">Jun 8, 2021</time>
                </div>
    
                <h3 class="h3 blog-item-title">Oracle Course Completion Awards</h3>
    
                <p class="blog-text">
                  Learning About Database Design.
                </p>
              </div>
            </a>
          </li>
    
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Database Design Ujian.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img
                  src="/assets/Sertifikat/Database Design Ujian_page-0001.jpg"
                  alt="Database Design Ujian"
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Database</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2021-06-08">Jun 8, 2021</time>
                </div>
    
                <h3 class="h3 blog-item-title">Final Exam Completion Award</h3>
    
                <p class="blog-text">
                  Complete and get a passing grade about course "Database Design".
                </p>
              </div>
            </a>
          </li>
    
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Database Programming Pelajaran.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img
                  src="/assets/Sertifikat/Database Programming Pelajaran_page-0001.jpg"
                  alt="Database Programming Pelajaran"
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Database</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2021-06-08">Jun 8, 2021</time>
                </div>
    
                <h3 class="h3 blog-item-title">Oracle Course Completion Awards</h3>
    
                <p class="blog-text">
                  Learning About SQL.
                </p>
              </div>
            </a>
          </li>
    
          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Database Programming Ujian.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img
                  src="/assets/Sertifikat/Database Programming Ujian_page-0001.jpg"
                  alt="Database Programming Ujian"
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Database</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2021-06-08">Jun 8, 2021</time>
                </div>
    
                <h3 class="h3 blog-item-title">Final Exam Completion Award</h3>
    
                <p class="blog-text">
                  Complete and get a passing grade about course "Database SQL".
                </p>
              </div>
            </a>
          </li>

          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Sertif Mikrotik.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img
                  src="/assets/Sertifikat/Sertif Mikrotik_page-0001.jpg"
                  alt="Sertifikat Mikrotik"
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Networking</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2024-05-20">Apr 20, 2024</time>
                </div>
    
                <h3 class="h3 blog-item-title">MTCNA</h3>
    
                <p class="blog-text">
                  Idk why i got this , but yeah there u go a Mikrotik certificate.
                </p>
              </div>
            </a>
          </li>

          <li class="blog-post-item">
            <a href="/assets/Sertifikat/Sertif Mikrotik.pdf" target="_blank" rel="noopener noreferrer">
              <figure class="blog-banner-box">
                <img
                  src="/assets/Sertifikat/SCA511-2306-230825938-Ichsanul Dwi Prayitno-0.jpg"
                  alt="Sertifikat Mikrotik"
                  loading="lazy"
                />
              </figure>
    
              <div class="blog-content">
                <div class="blog-meta">
                  <p class="blog-category">Database</p>
    
                  <span class="dot"></span>
    
                  <time datetime="2024-05-20">Sept 1, 2023</time>
                </div>
    
                <h3 class="h3 blog-item-title">Big Data Analyst</h3>
    
                <p class="blog-text">
                  One of the certificates that must be obtained as a requirement for graduating from college.
                </p>
              </div>
            </a>
          </li>

        </ul>
      </section>
  </section>

</article>